
<!DOCTYPE html>
<html lang="en">
<head>
<title>Verifikasi Email</title>
<meta charset="UTF-8" />
<meta name="viewport" content="width=device-width, initial-scale=1.0" />
<link rel="stylesheet" href="{{ base_url() }}/css/matrix-style.css" />
<link href="{{ base_url() }}/font-awesome/css/font-awesome.css" rel="stylesheet" />
<link rel="stylesheet" href="https://netdna.bootstrapcdn.com/bootstrap/3.0.3/css/bootstrap.min.css">
<link rel="stylesheet" href="https://netdna.bootstrapcdn.com/bootstrap/3.0.3/css/bootstrap-theme.min.css">
<script src="https://code.jquery.com/jquery-1.10.2.min.js"></script>
<script src="https://netdna.bootstrapcdn.com/bootstrap/3.0.3/js/bootstrap.min.js"></script>
</script>
</head>
<body onLoad="$('#my-modal').modal('show');">
    <div id="my-modal" class="modal fade">
        <div class="modal-dialog">
            <div class="modal-content">
                <div style="background:#035241; color:#d9fff8" class="modal-header">
                    <button style="color:red;" type="button" class="close" data-dismiss="modal" aria-hidden="true">
                        &times;</button>
                <h5 class="modal-title">Aktivasi akun</h5>
                </div>
                <div class="modal-body">
                <h4>{{ message }}</h4><br>
                <p><a href="{{path_for('login')}}" class="flip-link btn btn-primary" id="to-recover">
                    ke halaman Login</a></span></p>
                </div>
            </div>
        </div>
    </div>
</body>
</html>
